ROCK_PAPER_CLANKER__ENVIRONMENT=dev
ROCK_PAPER_CLANKER__MATCHMAKER__TIMEOUT=30000
ROCK_PAPER_CLANKER__GAME_SERVICE__ROUND_POLL_INTERVAL=1000
ROCK_PAPER_CLANKER__GAME_SERVICE__ROUND_MAX_ATTEMPTS=30
ROCK_PAPER_CLANKER__GAME_SERVICE__WINNING_SCORE=2
ROCK_PAPER_CLANKER__GITHUB_CLIENT_ID=<your github client id>
ROCK_PAPER_CLANKER__GITHUB_CLIENT_SECRET=<your github client secret>
ROCK_PAPER_CLANKER__COOKIE_ENCRYPTION_KEY=<your cookie cookie encryption key>
